{% block head %}
<link rel="stylesheet" href="{{ '/assets/airplane_mode/css/custom.css' | abs_url }}">
{% endblock %}

{% block page_content %}
<h1>{{ title }}</h1>

<h3>Shop Details</h3>
<p>Shop Number: {{ doc.shop_number }}</p>
<p>Airport: {{ doc.airport }}</p>
<p>Area (sq.ft): {{ doc.area }}</p>
<p>Status: {{ doc.status }}</p>
<p>Tenant: {{ doc.tenant or None }}</p>
<p>Rent Amount: {{ doc.rent_amount }}</p>

{% if doc.status == "Available" %}
<a class="btn btn-info" href="http://course2.localhost/shop-leads/new?shop={{ doc.name }}">Enquire</a>
{% endif %}
{% endblock %}
